# Data Structures #series and dataframe

# Create Pandas series

In [3]:
import pandas as pd

In [5]:
# homogeneous
#series is a homogenous array 
a=pd.Series([1,2,3,4,5])
a

0    1
1    2
2    3
3    4
4    5
dtype: int64

In [6]:
type(a)

pandas.core.series.Series

In [8]:
# in pandas storing elements as a string but it will consider as object
a = pd.Series(['a','b','c'])
a

0    a
1    b
2    c
dtype: object

In [10]:
a=pd.date_range(start = '01-01-2018', end='17-09-2019')
a

DatetimeIndex(['2018-01-01', '2018-01-02', '2018-01-03', '2018-01-04',
               '2018-01-05', '2018-01-06', '2018-01-07', '2018-01-08',
               '2018-01-09', '2018-01-10',
               ...
               '2019-09-08', '2019-09-09', '2019-09-10', '2019-09-11',
               '2019-09-12', '2019-09-13', '2019-09-14', '2019-09-15',
               '2019-09-16', '2019-09-17'],
              dtype='datetime64[ns]', length=625, freq='D')

In [11]:
type(a)

pandas.core.indexes.datetimes.DatetimeIndex

# Pandas Dataframe

In [16]:
#creating dataframe
import numpy as np

In [22]:
temp=np.random.randint(low=20, high=100 , size=[20,])
name=np.random.choice(['a','b','c','d'],20)
random = np.random.choice([10,11,12,13,14],20)

In [23]:
a=list(zip(temp,name,random))

In [28]:
df=pd.DataFrame(data=a,columns=['temp','name','random'])
df

    temp name  random
0     44    b      11
1     88    b      13
2     60    c      11
3     66    a      10
4     60    b      10
5     25    d      13
6     96    c      10
7     64    c      10
8     33    a      13
9     69    b      10
10    74    c      12
11    58    a      11
12    22    c      14
13    68    d      13
14    30    d      14
15    51    c      12
16    29    d      12
17    72    a      12
18    67    d      14
19    23    c      12

In [29]:
type(df)

pandas.core.frame.DataFrame

# create Dictionary

In [31]:
df=pd.DataFrame({'temp':temp,'name':name,'random':random})
df

    temp name  random
0     44    b      11
1     88    b      13
2     60    c      11
3     66    a      10
4     60    b      10
5     25    d      13
6     96    c      10
7     64    c      10
8     33    a      13
9     69    b      10
10    74    c      12
11    58    a      11
12    22    c      14
13    68    d      13
14    30    d      14
15    51    c      12
16    29    d      12
17    72    a      12
18    67    d      14
19    23    c      12

In [32]:
df.head()

   temp name  random
0    44    b      11
1    88    b      13
2    60    c      11
3    66    a      10
4    60    b      10

In [33]:
df.tail()

    temp name  random
15    51    c      12
16    29    d      12
17    72    a      12
18    67    d      14
19    23    c      12

In [35]:
df.shape       #dimension of dataframe

(20, 3)

In [37]:
df.columns

Index(['temp', 'name', 'random'], dtype='object')

In [38]:
df.name

0     b
1     b
2     c
3     a
4     b
5     d
6     c
7     c
8     a
9     b
10    c
11    a
12    c
13    d
14    d
15    c
16    d
17    a
18    d
19    c
Name: name, dtype: object

In [41]:
df['name'] #another way

0     b
1     b
2     c
3     a
4     b
5     d
6     c
7     c
8     a
9     b
10    c
11    a
12    c
13    d
14    d
15    c
16    d
17    a
18    d
19    c
Name: name, dtype: object

In [43]:
df['temp'].describe()

count    20.000000
mean     54.950000
std      21.914847
min      22.000000
25%      32.250000
50%      60.000000
75%      68.250000
max      96.000000
Name: temp, dtype: float64

In [44]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
temp      20 non-null int32
name      20 non-null object
random    20 non-null int32
dtypes: int32(2), object(1)
memory usage: 400.0+ bytes

In [47]:
df.values             #output as array

array([[44, 'b', 11],
       [88, 'b', 13],
       [60, 'c', 11],
       [66, 'a', 10],
       [60, 'b', 10],
       [25, 'd', 13],
       [96, 'c', 10],
       [64, 'c', 10],
       [33, 'a', 13],
       [69, 'b', 10],
       [74, 'c', 12],
       [58, 'a', 11],
       [22, 'c', 14],
       [68, 'd', 13],
       [30, 'd', 14],
       [51, 'c', 12],
       [29, 'd', 12],
       [72, 'a', 12],
       [67, 'd', 14],
       [23, 'c', 12]], dtype=object)

In [66]:
df

     name  random
temp
44      b      11
88      b      13
60      c      11
66      a      10
60      b      10
25      d      13
96      c      10
64      c      10
33      a      13
69      b      10
74      c      12
58      a      11
22      c      14
68      d      13
30      d      14
51      c      12
29      d      12
72      a      12
67      d      14
23      c      12

In [67]:
#change temp as index
df.set_index('temp')

KeyError: 'temp'

In [68]:
# now if i check df it will show temp as in sequence i.e. changes are made just for instance
df.set_index('temp',inplace=True)   #=> permanent change 
df

KeyError: 'temp'

In [70]:
df
df.sort_index(axis=0,ascending=False)

     name  random
temp
96      c      10
88      b      13
74      c      12
72      a      12
69      b      10
68      d      13
67      d      14
66      a      10
64      c      10
60      c      11
60      b      10
58      a      11
51      c      12
44      b      11
33      a      13
30      d      14
29      d      12
25      d      13
23      c      12
22      c      14

In [71]:
df.sort_values(by='random',ascending=False)

     name  random
temp
22      c      14
67      d      14
30      d      14
25      d      13
33      a      13
68      d      13
88      b      13
74      c      12
72      a      12
29      d      12
51      c      12
23      c      12
58      a      11
60      c      11
44      b      11
69      b      10
64      c      10
96      c      10
60      b      10
66      a      10

In [79]:
#drop random column
#drop is done for rows 
#droping column assign axis=1
df.drop(['random'],axis=1)

#temporary change

     name
temp
44      b
88      b
60      c
66      a
60      b
25      d
96      c
64      c
33      a
69      b
74      c
58      a
22      c
68      d
30      d
51      c
29      d
72      a
67      d
23      c

iloc

In [ ]:
df.iloc[[0,1]]

In [77]:
df.iloc[[True,True,False,True]]

     name  random
temp
44      b      11
88      b      13
66      a      10

In [78]:
df.head()

     name  random
temp
44      b      11
88      b      13
60      c      11
66      a      10
60      b      10

#loc

In [88]:
df.loc[[39,84],'name':'random']

KeyError: 'None of [[39, 84]] are in the [index]'

In [89]:
df.loc[[True,True,False,True]]

     name  random
temp
44      b      11
88      b      13
66      a      10

In [94]:
df.loc[(df.random > 13) | (df.random==10),:]

     name  random
temp
66      a      10
60      b      10
96      c      10
64      c      10
69      b      10
22      c      14
30      d      14
67      d      14

In [95]:
df1=pd.read_csv("D:\changed loc download\[FreeTutorials.Eu] Udemy - Machine Learning A-Z  Become Kaggle Master\3. Pandas\Pandas\weather_data.csv")

FileNotFoundError: File b'D:\\changed loc download\\[FreeTutorials.Eu] Udemy - Machine Learning A-Z  Become Kaggle Master\x03. Pandas\\Pandas\\weather_data.csv' does not exist